In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("Libraries loaded successfully")

Libraries loaded successfully

In [5]:
# Load the salary survey data
df = pd.read_csv('data/Salary_Survey.csv')

# Show basic information
print("Dataset loaded!")
print(f"Number of rows: {len(df)}")
print(f"Number of columns: {len(df.columns)}")

Dataset loaded!
Number of rows: 28178
Number of columns: 23

In [6]:
# Look at the first few rows
df.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",...,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,...,5-7 years,5-7 years,Master's degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Non-binary,NaN,NaN,NaN,NaN,NaN,NaN
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,...,2 - 4 years,2 - 4 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Check for missing data
print("Missing values in each column:")
print(df.isnull().sum())

Missing values in each column:
Timestamp                                                                                                                                                                                                                                  93
How old are you?                                                                                                                                                                                                                           93
What industry do you work in?                                                                                                                                                                                                             167
Job title                                                                                                                                                                                                                                  94
If your job title needs additional context, please clarify here:                                                                                                                                                                        20911
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)       93
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                           7398
Please indicate the currency                                                                                                                                                                                                               93
If "Other," please indicate the currency here:                                                                                                                                                                                          27971
If your income needs additional context, please provide it here:                                                                                                                                                                        25134
What country do you work in?                                                                                                                                                                                                               93
If you're in the U.S., what state do you work in?                                                                                                                                                                                        5119
What city do you work in?                                                                                                                                                                                                                 175
How many years of professional work experience do you have overall?                                                                                                                                                                        93
How many years of professional work experience do you have in your field?                                                                                                                                                                  93
What is your highest level of education completed?                                                                                                                                                                                        315
What is your gender?                                                                                                                                                                                                                      264
Unnamed: 17                                                                                                                                                                                                                             28178
Unnamed: 18                                                                                                                                                                                                                             28178
Unnamed: 19                                                                                                                                                                                                                             28178
Unnamed: 20                                                                                                                                                                                                                             28178
Unnamed: 21                                                                                                                                                                                                                             28178
Unnamed: 22                                                                                                                                                                                                                             28178
dtype: int64